<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333110462709-p8qn8rsbjfdmab3r0ff47215tn0rrcg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333110462709-p8qn8rsbjfdmab3r0ff47215tn0rrcg8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>333110462709-d7gf673hm09va69nvrr7helsiva0c33u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCO7iKNrNS7h87br4lDslL15XJ8kmFP6v0</string>
	<key>GCM_SENDER_ID</key>
	<string>333110462709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UniversalMobileApp</string>
	<key>PROJECT_ID</key>
	<string>universalproject-2ec97</string>
	<key>STORAGE_BUCKET</key>
	<string>universalproject-2ec97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333110462709:ios:04a9c20909a8108be8ddbc</string>
</dict>
</plist>